.wd-bg-color-black {
 background-color: #121212;
 height: auto;
 min-height: 100vh;
 border-radius: 0%;
}

.black {
 background-color: black;
 width: 100vw;
}

.bread {
 position: absolute;
 top: 1px;
 left: 340px;
}

.black- {
 background-color: black;
}

.nav-links {
 text-decoration: none;
 font-size: small;
 padding: 5px;
}

.text-red {
 color: #cf0505;
 display: block;
 font-size: small;
 text-decoration: none;
 transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out;
}
.text-red:hover {
 color: #cf0505;
 display: block;
 font-size: small;
 text-decoration: none;
 transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out;
}

a {
 color: #fff;
}

.text-black {
 color: black;
 border-left: 2px solid black;
 padding-left: 5px;
 text-decoration: none;
}

.text-black:hover {
 color: black;
 border-left: 2px solid black;
 padding-left: 5px;
 text-decoration: underline;
}

.wd-grid-col-left-sidebar-1 {
 width: 90px;
 padding-right: 0px;
}

.tab {
 color: #cf0505;
 text-decoration: none;
 padding-left: 6px;
}

.tab:hover {
 color: #cf0505;
 text-decoration: underline;
 padding-left: 6px;
}

.tab-2 {
 color: #cf0505;
 text-decoration: none;
}

.tab-2:hover {
 color: #cf0505;
 text-decoration: underline;
}

.indent {
 padding-left: 20px;
}
.lg-1 {
 margin-top: 20px;
}
ul.side-nav .list-group-item {
 position: relative;
 display: block;
 padding: 0.25rem 25px;
 color: #212529;
 text-decoration: none;
 background-color: #fff;
 border: none;
}

.side {
 border: none;
}

.text-black-assign {
 color: black;
 text-decoration: none;
}
.text-black-assign:hover {
 color: black;
 text-decoration: underline;
}
.off {
 position: fixed;
 left: 75px;
 top: 70px;
}

.offset-md-1- {
 margin-left: 13%;
}
